@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
#dropdown-menu-2btn-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4 .nav .link,
#dropdown-menu-2btn-4 .dropdown-item {
  font-size: 1.2em;
  color: #41a85f;
}
#dropdown-menu-2btn-4 .navbar,
#dropdown-menu-2btn-4 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4 .dropdown-menu a:hover,
#dropdown-menu-2btn-4 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-4 .navbar-toggler {
  color: #41a85f;
}

#form2-c .mbr-header__text {
  color: #fac51c;
  font-family: 'Indie Flower', cursive;
}
#form1-b .mbr-header__text {
  color: #fac51c;
}
#footer1-m P {
  color: #7ac673;
}
#dropdown-menu-2btn-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6 .nav .link,
#dropdown-menu-2btn-6 .dropdown-item {
  font-size: 1.2em;
  color: #41a85f;
}
#dropdown-menu-2btn-6 .navbar,
#dropdown-menu-2btn-6 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6 .dropdown-menu a:hover,
#dropdown-menu-2btn-6 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-6 .navbar-toggler {
  color: #41a85f;
}
#testimonials1-7 .mbr-section__header {
  color: #09b73c;
}
#testimonials1-7 .mbr-reviews__text P {
  color: #09b73c;
}
#testimonials1-7 .mbr-reviews__author-bio {
  color: #09b73c;
  text-align: center;
}
#testimonials1-7 .mbr-reviews__author-name {
  color: #09b73c;
  text-align: center;
}
#testimonials1-7 .mbr-reviews__text {
  color: #09b73c;
}
#testimonials1-7 .mbr-reviews__author-name P {
  text-align: center;
}
#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1.2em;
  color: #41a85f;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #41a85f;
}
#header3-f H3 {
  color: #09b73c;
  text-align: center;
}
#content1-g DIV {
  color: #09b73c;
}



#msg-box1-1 .mbr-header .mbr-header__text {
  color: #02210b;
  font-family: 'Oxygen', sans-serif;
}
#msg-box1-1 .mbr-article {
  color: #02210b;
  text-align: left;
}
#msg-box1-1 .mbr-header .mbr-header__text SPAN {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box1-1 .btn {
  font-size: 13px;
}
#form2-v .mbr-header__text {
  font-size: 18px;
  font-family: 'Indie Flower', cursive;
}
#footer1-m P {
  color: #7ac673;
}
#dropdown-menu-2btn-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3 .nav .link,
#dropdown-menu-2btn-3 .dropdown-item {
  font-size: 1.2em;
  color: #41a85f;
}
#dropdown-menu-2btn-3 .navbar,
#dropdown-menu-2btn-3 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3 .dropdown-menu a:hover,
#dropdown-menu-2btn-3 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-3 .navbar-toggler {
  color: #41a85f;
}
